@font-face {
    font-family: 'lcdCalculator';
    src: url('https://raw.githubusercontent.com/dem-s/javscript-calculator/blob/c23143beeb48f72fcf436788dcb1deed74d80856/font/LCD%20calculator.woff') format('woff');
    font-weight: 100;
    font-style: normal;
} 
