@font-face {
    font-family: 'lcdcalculator';
    src: url("https://cdn.rawgit.com/dem-s/javscript-calculator/blob/master/font/LCD%20calculator.woff"),
         url("https://cdn.rawgit.com/dem-s/javscript-calculator/blob/master/font/LCD%20calculator.otf");
    font-weight: 100;
    font-style: normal;
} 
